.routes {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  li {
    display: inline-block;
    & + li {
      margin-left: 10px;
    }
    a {
      text-decoration: none;
      color: $white;
      padding: 8px 10px;
      line-height: 1.5;
      border: 1px solid transparent;
      font-weight: bold;
      @include border-radius(5px);
      &:hover, &:active, &:focus {
        border: 1px solie $white;
        color: $darkBlue;
        background-color: $white;
      }
    }
  }
}

.signForm {
  width: 40%;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: left;
  label {
    margin-bottom: 5px;
  }
  .formHeadline {
    font-size: 25px;
    color: $darkBlue;
    line-height: 1.5;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .header {
    .routes {
      display: block;
      background-color: $darkBlue;
      font-size: 0;
      li {
        display: inline-block;
        font-size: 16px;
        width: 32.33%;
        margin: 0 1% 0 0;
        & + li {
          margin-left: 0;
        }
        a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .header {
    .routes {
      li {
        display: block;
        width: 100%;
        padding: 2px 0;
        a {
          text-align: left;
        }
      }
    }
  }
}